@mixin pinkbackground {
    background-color: pink;
    color: #6a677d ;
    position:relative;
   display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
     text-decoration: none;

    
}