.footerBoost {
    height: 150px;
    background-color: #ffc0cb;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
.inconosredes a {
    text-decoration: none;
    color: map-get($color, rosa);
    font-size: 25px;
    margin: 5px;
}
.inconosredes a i:hover {
transform: rotate(360deg);
transition: 1s;
}

h2 {
    @extend .main__fondo
}

h3 {

    @extend .main__fondo
}