.footerBoost {
    height: 150px;
    background-color: #ffc0cb;
}
.inconosredes a {
    text-decoration: none;
    color: #c951a2;
    font-size: 25px;
    margin: 5px;
}
.inconosredes a i:hover {
transform: rotate(360deg);
transition: 1s;
}