*{margin: 0;
padding: 0;
box-sizing: border-box;
}



/*boostrapclases*/
.footerBoost {
    height: 150px;
    background-color: #ffc0cb;
}
.inconosredes a {
    text-decoration: none;
    color: #c951a2;
    font-size: 25px;
    margin: 5px;
}
.inconosredes a i:hover {
transform: rotate(360deg);
transition: 1s;
}
.header__flex{
    display: flex;
    justify-content: end;
}



.header{
    background-color: #6a677d;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    padding: 1rem;
}

.header__list a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}




.header__list{
    list-style: none;
    font-family: 'Kanit', sans-serif;
    display: flex;
    background-color: pink;
    padding: 0.4rem;
    
}
.header__item:hover {
  background-color: #6a677d86;
    transition-duration: 1.5s;
}


.header__item{
    margin: 0px 1rem; 
    list-style: none;
}



.main__fondo {
    background-color: pink;
    color: #6a677d ;
    position:relative;
   display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
     text-decoration: none;

     
}

