*{margin: 0;
padding: 0;
box-sizing: border-box;
}

.header{
    background-color: #6a677d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}


.header__logo{
    width: 150px;
    
}

.header__list{
    list-style: none;
    font-family: 'Kanit', sans-serif;
    display: flex;
    background-color: pink;
    padding: 0.4rem;
    
}
.header__item:hover {
  background-color: #6a677d86;
    transition-duration: 1.5s;
}


.header__item{
    margin: 0px 1rem; 
    list-style: none;
}



.main__fondo {
    background-color: pink;
    color: #6a677d ;
    position:relative;
   display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
     text-decoration: none;
     font-size: 2rem;

     
}

.main__fondo--abajo {
    background-color: pink;
    color: #6a677d ;
    position:relative;
   display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    font-size: x-large;
    

}
.imagenesMes{
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
 background-color: #f7f7f7 ;
   padding: 2rem; 
   gap: 1rem;
    
}

.encima:hover {
    transition: 0.1s;
    transform: scale(1.1,1.1);
}
.novedadesDelMes{ 
    padding: 1rem 1.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    
}

.contenedorPadreInformacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    align-self: center;
   
 
}

.contenedorInformacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;    
       
    }

/* pag de porductos*/

    .contenedorPadre {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        background-color: #f7f7f7;
    }


.contenedor{
     background-color: #f7f7f7;
     text-align: center;
     display: flex;
     flex-direction: column;

}
.contenedor:hover {
    transition: 0.1s;
    transform: scale(1.1,1.1);
}
.texto-encima {
   background-color: rgba(255, 192, 203, 0.664);
   font-family: 'Kanit', sans-serif;
   border: 300px;
}


/*cursos*/

.contenedorPadre--tutorial {
    padding: 1rem;
        background-color: #f7f7f7;
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr ;
        font-family: 'Kanit', sans-serif;

}
.tutorial { 
    display: block;
}


.nosotros { 
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem;
}
.imgNosotros {
    display: block;
    left: 5rem;
    text-align: center;
}
 
.footer {
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: pink;
    background-color: #6a677d;
    padding: 1rem;
    justify-content: center;
    place-content: center;
}
.redes { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
   
}

.red {
  list-style: none;
   
    
}
.red__list{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    list-style: none;
    margin: 1rem;
    
   
}
.lugar{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:justify;
}


.consultacontacto {
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    background-color: #cbc9d5;
    color: #6a677d;
    
}
.formularioContacto__Mensaje{
    padding: 1rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbc9d5;
    color: #6a677d;
    
   
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbc9d5;
    color: #6a677d;
}

/* nosotros*/
.nosotrosDescrip {
      padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.imgNosotros {
   background-image: url(../assets/pexels-photo-7256583.webp);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   height: 40vh;
   text-align: center;
   font-family: 'Kanit', sans-serif;
   align-items: center;
   justify-items: center;

}
.imgNosotros, p {
    text-align: center;
    font-family: 'Kanit', sans-serif;
   align-items: center;
}


/*media querie */

@media screen and (max-width:480px)  {

.header__list {
      display: flex;
    background-color: pink;
  

}

.tutorialVideo {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.tutorialVideo iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


.header__item{
    margin: 0px 4px; 
    list-style: none;
}

.main__fondo {
    font-size: 1,5rem;
}
.imagenesMes {
    display: block;
    
}

.contenedorPadre {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #f7f7f7;
}
.contenedorPadreInformacion{
display: block;
 
}



.footer {
    display: block;
}
.lugar{ 

display: none;
 }
.redes {
    padding: 1rem;
}
 .nosotrosFo { 
      display: flex;
    flex-direction: column;
    justify-content: center;

 }
 .nuestrasRedes {
    display:flex;
    justify-content: center;
 }
/* media de productos*/
 .contenedorPadre {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #f7f7f7;
}



/*media cursos*/
.contenedorPadre--tutorial {
       
    display: flex;
    flex-direction: column;


}






@media screen and (max-width:768px)  {
    .imagenesMes {
        display: block;
        margin: 1rem 1rem 1rem 1rem;
       
        
    }

    .encima:hover {
        transition: 0;
        transform: none;
    }

    .contenedorPadreInformacion{
        display: block;
         
        }


    .lugar{ 

        display: none;
         }
/*media productos*/
.contenedorPadre {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #f7f7f7;
}

         
    .footer { 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .encima:hover {
        transition: 0;
        transform: none;
    }



   

    /*media cursos*/
    .contenedorPadre--tutorial {
       
           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 1fr 1fr ;
            font-family: 'Kanit', sans-serif;
    
    }

}